In [2]:
import numpy as nm

In [3]:
import matplotlib.pyplot as mpt

In [4]:
import pandas as pd

In [5]:
data_set=pd.read_csv('C:\\Users\\Ankit\\Desktop\\Machine Learning\\1. and 2. Classes and Features\\Data.csv')
print(data_set)

     Rank             Youtube Channel  Subscribers      Video Views  \
0       1                    T-Series  234,000,000  212,900,271,553
1       2              YouTube Movies  161,000,000                0
2       3  Cocomelon - Nursery Rhymes  152,000,000  149,084,178,448
3       4                   SET India  150,000,000  137,828,094,104
4       5                     MrBeast  128,000,000   21,549,128,785
..    ...                         ...          ...              ...
995   996                     XO TEAM   11,500,000   11,471,384,709
996   997         Nirahua Music World   11,500,000    5,997,717,755
997   998                     YtCrash   11,400,000        3,825,084
998   999                   Painzeiro   11,400,000    2,143,444,281
999  1000                   Oum Walid   11,400,000    2,480,064,722

    Video Count          Category  Started
0        18,515             Music     2006
1             0  Film & Animation     2015
2           846         Education     2006
3       103,200             Shows     2006
4           733     Entertainment     2012
..          ...               ...      ...
995       2,679    People & Blogs     2021
996         788             Music     2014
997           1         Education     2015
998         946    People & Blogs     2015
999       1,598    People & Blogs     2015

[1000 rows x 7 columns]

In [6]:
# Print all Columns
column_names=list(data_set.columns)
print("Column Names",column_names)

Column Names ['Rank', 'Youtube Channel', 'Subscribers', 'Video Views', 'Video Count', 'Category', 'Started']

In [7]:
data_set.shape

(1000, 7)

In [8]:
x= data_set.iloc[:,:-1].values 
print(x)

[[1 'T-Series' '234,000,000' '212,900,271,553' '18,515' 'Music']
 [2 'YouTube Movies' '161,000,000' '0' '0' 'Film & Animation']
 [3 'Cocomelon - Nursery Rhymes' '152,000,000' '149,084,178,448' '846'
  'Education']
 ...
 [998 'YtCrash' '11,400,000' '3,825,084' '1' 'Education']
 [999 'Painzeiro' '11,400,000' '2,143,444,281' '946' 'People & Blogs']
 [1000 'Oum Walid' '11,400,000' '2,480,064,722' '1,598' 'People & Blogs']]

In [9]:
# Print all rows
print(data_set.iloc[:])

     Rank             Youtube Channel  Subscribers      Video Views  \
0       1                    T-Series  234,000,000  212,900,271,553
1       2              YouTube Movies  161,000,000                0
2       3  Cocomelon - Nursery Rhymes  152,000,000  149,084,178,448
3       4                   SET India  150,000,000  137,828,094,104
4       5                     MrBeast  128,000,000   21,549,128,785
..    ...                         ...          ...              ...
995   996                     XO TEAM   11,500,000   11,471,384,709
996   997         Nirahua Music World   11,500,000    5,997,717,755
997   998                     YtCrash   11,400,000        3,825,084
998   999                   Painzeiro   11,400,000    2,143,444,281
999  1000                   Oum Walid   11,400,000    2,480,064,722

    Video Count          Category  Started
0        18,515             Music     2006
1             0  Film & Animation     2015
2           846         Education     2006
3       103,200             Shows     2006
4           733     Entertainment     2012
..          ...               ...      ...
995       2,679    People & Blogs     2021
996         788             Music     2014
997           1         Education     2015
998         946    People & Blogs     2015
999       1,598    People & Blogs     2015

[1000 rows x 7 columns]

In [10]:
data=pd.read_csv('C:\\Users\\Ankit\\Desktop\\Machine Learning\\1. and 2. Classes and Features\\Data.csv', na_values=['NA','99'])
print(data)

       Rank             Youtube Channel  Subscribers      Video Views  \
0       1.0                    T-Series  234,000,000  212,900,271,553
1       2.0              YouTube Movies  161,000,000                0
2       3.0  Cocomelon - Nursery Rhymes  152,000,000  149,084,178,448
3       4.0                   SET India  150,000,000  137,828,094,104
4       5.0                     MrBeast  128,000,000   21,549,128,785
..      ...                         ...          ...              ...
995   996.0                     XO TEAM   11,500,000   11,471,384,709
996   997.0         Nirahua Music World   11,500,000    5,997,717,755
997   998.0                     YtCrash   11,400,000        3,825,084
998   999.0                   Painzeiro   11,400,000    2,143,444,281
999  1000.0                   Oum Walid   11,400,000    2,480,064,722

    Video Count          Category  Started
0        18,515             Music     2006
1             0  Film & Animation     2015
2           846         Education     2006
3       103,200             Shows     2006
4           733     Entertainment     2012
..          ...               ...      ...
995       2,679    People & Blogs     2021
996         788             Music     2014
997           1         Education     2015
998         946    People & Blogs     2015
999       1,598    People & Blogs     2015

[1000 rows x 7 columns]

In [14]:
data.dtypes

Rank               float64
Youtube Channel     object
Subscribers         object
Video Views         object
Video Count         object
Category            object
Started              int64
dtype: object

In [16]:
data['Category'].value_counts()

Entertainment                                                                   238
Music                                                                           217
People & Blogs                                                                  132
Gaming                                                                           94
Comedy                                                                           68
Film & Animation                                                                 50
Education                                                                        45
Howto & Style                                                                    43
https://us.youtubers.me/global/all/top-1000-most_subscribed-youtube-channels     30
News & Politics                                                                  27
Science & Technology                                                             18
Shows                                                                            14
Sports                                                                           10
Pets & Animals                                                                    6
Trailers                                                                          2
Nonprofits & Activism                                                             2
Movies                                                                            2
Autos & Vehicles                                                                  1
Travel & Events                                                                   1
Name: Category, dtype: int64