In [15]:
import numpy as np
import pandas as pd

In [16]:
data =df = pd.read_csv("car details.csv")
data.head()

,Make,Model,Price,Year,Kilometer,Fuel Type,Transmission,Location,Color,Owner,Seller Type,Engine,Max Power,Max Torque,Drivetrain,Length,Width,Height,Seating Capacity,Fuel Tank Capacity
0,Honda,Amaze 1.2 VX i-VTEC,505000,2017,87150,Petrol,Manual,Pune,Grey,First,Corporate,1198 cc,87 bhp @ 6000 rpm,109 Nm @ 4500 rpm,FWD,3990.0,1680.0,1505.0,5.0,35.0
1,Maruti Suzuki,Swift DZire VDI,450000,2014,75000,Diesel,Manual,Ludhiana,White,Second,Individual,1248 cc,74 bhp @ 4000 rpm,190 Nm @ 2000 rpm,FWD,3995.0,1695.0,1555.0,5.0,42.0
2,Hyundai,i10 Magna 1.2 Kappa2,220000,2011,67000,Petrol,Manual,Lucknow,Maroon,First,Individual,1197 cc,79 bhp @ 6000 rpm,112.7619 Nm @ 4000 rpm,FWD,3585.0,1595.0,1550.0,5.0,35.0
3,Toyota,Glanza G,799000,2019,37500,Petrol,Manual,Mangalore,Red,First,Individual,1197 cc,82 bhp @ 6000 rpm,113 Nm @ 4200 rpm,FWD,3995.0,1745.0,1510.0,5.0,37.0
4,Toyota,Innova 2.4 VX 7 STR [2016-2020],1950000,2018,69000,Diesel,Manual,Mumbai,Grey,First,Individual,2393 cc,148 bhp @ 3400 rpm,343 Nm @ 1400 rpm,RWD,4735.0,1830.0,1795.0,7.0,55.0

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2059 entries, 0 to 2058
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Make                2059 non-null   object
 1   Model               2059 non-null   object
 2   Price               2059 non-null   int64
 3   Year                2059 non-null   int64
 4   Kilometer           2059 non-null   int64
 5   Fuel Type           2059 non-null   object
 6   Transmission        2059 non-null   object
 7   Location            2059 non-null   object
 8   Color               2059 non-null   object
 9   Owner               2059 non-null   object
 10  Seller Type         2059 non-null   object
 11  Engine              1979 non-null   object
 12  Max Power           1979 non-null   object
 13  Max Torque          1979 non-null   object
 14  Drivetrain          1923 non-null   object
 15  Length              1995 non-null   float64
 16  Width               1995 non-null   float64
 17  Height              1995 non-null   float64
 18  Seating Capacity    1995 non-null   float64
 19  Fuel Tank Capacity  1946 non-null   float64
dtypes: float64(5), int64(3), object(12)
memory usage: 321.8+ KB

In [18]:
data.dropna(inplace=True)
#Remove all the Null values

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1874 entries, 0 to 2057
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Make                1874 non-null   object
 1   Model               1874 non-null   object
 2   Price               1874 non-null   int64
 3   Year                1874 non-null   int64
 4   Kilometer           1874 non-null   int64
 5   Fuel Type           1874 non-null   object
 6   Transmission        1874 non-null   object
 7   Location            1874 non-null   object
 8   Color               1874 non-null   object
 9   Owner               1874 non-null   object
 10  Seller Type         1874 non-null   object
 11  Engine              1874 non-null   object
 12  Max Power           1874 non-null   object
 13  Max Torque          1874 non-null   object
 14  Drivetrain          1874 non-null   object
 15  Length              1874 non-null   float64
 16  Width               1874 non-null   float64
 17  Height              1874 non-null   float64
 18  Seating Capacity    1874 non-null   float64
 19  Fuel Tank Capacity  1874 non-null   float64
dtypes: float64(5), int64(3), object(12)
memory usage: 307.5+ KB

In [20]:
data['Fuel Type'].value_counts()
#Frequency

Diesel          954
Petrol          866
CNG              45
LPG               4
Hybrid            3
CNG + CNG         1
Petrol + CNG      1
Name: Fuel Type, dtype: int64

In [21]:
data.drop(data[(data['Fuel Type']=='LPG') | (data['Fuel Type']=='Hybrid') | (data['Fuel Type']=='CNG + CNG') | (data['Fuel Type']=='Petrol + CNG')].index,inplace=True)
# It removes rows(LPG, Hybrid, CNG+CNG, Petrol+CNG)

In [22]:
data['Fuel Type'].value_counts()

Diesel    954
Petrol    866
CNG        45
Name: Fuel Type, dtype: int64

In [23]:
(data['Fuel Type'].value_counts())/len(data)*100
#It gives the percentage of times each unique value appears in the 'Fuel Type'

Diesel    51.152815
Petrol    46.434316
CNG        2.412869
Name: Fuel Type, dtype: float64

In [24]:
new_data1 = data.groupby('Fuel Type', group_keys=False).apply(lambda x: x.sample(frac=0.2))
len(new_data1)
#creates a new DataFrame new_data1 by randomly sampling 20% of rows from each group in the 'Fuel Type' column of the DataFrame 
#data, and the resulting DataFrame contains the same columns as the original DataFrame data.

373

In [11]:
new_data1['Fuel Type'].value_counts()

Diesel    191
Petrol    173
CNG         9
Name: Fuel Type, dtype: int64

In [12]:
(new_data1['Fuel Type'].value_counts())/len(new_data1)*100

Diesel    51.206434
Petrol    46.380697
CNG        2.412869
Name: Fuel Type, dtype: float64

In [13]:
new_data2 = data.groupby('Fuel Type', group_keys=False).apply(lambda x: x.sample(45))
len(new_data2)

135

In [25]:
new_data2['Fuel Type'].value_counts()

CNG       45
Diesel    45
Petrol    45
Name: Fuel Type, dtype: int64